.main_content {
	max-width: 1300px;
	margin: auto;
}

.main_content{
	background-color: white;
}
.second_header_title{
	font-family: Lexend Exa;
	font-size: 28px;
	line-height: 35px;
	margin-top: 74px;
	margin-bottom: 20px;
}

.total_raiting{
	display: flex;
	align-items: center;
}

.card_raiting_2{
}

.raiting_2{
	margin-left: 10px;
	font-family: Lexend Exa;
	font-size: 18px;
	line-height: 22px;
	color: black;
	text-decoration: none;
}

.butternut{
	font-family: Lexend Exa;
	font-size: 18px;
	line-height: 22px;
	margin-top: 26px;
}


.video_wrapper{
	   display: inline;
}

.video{
	margin-top: 18px;
}

.prep{
	margin-left: 667px;
	margin-top: -462px;
	width: 276px;
	height: 300px;
	background: #FEFEFE;
	border: 1px solid #D5D5D5;
	box-sizing: border-box;
	border-radius: 10px;	
}

.my-gallery{
	max-height: 400px;
	max-height: 600px;
	display: flex;
	margin-top: 180px;
}

.gallery-image{
	width: 200px;
	height: 120px;
	margin-left: 20px;
	transition: -webkit-transform 0.25s ease;
    transition: transform 0.25s ease;
}

.gallery-image:first-child{
	margin-left: 0px;
}

.gallery-image:active{
	 -webkit-transform: scale(2);
    transform: scale(2);
}

.prep_text{
	margin-top: 13px;
	margin-left: 16px;
	font-family: Lexend Exa;
	font-size: 18px;
	line-height: 22px;
}

.first_line{
	margin-top: 24px;
	width: 640px;
    height: 2px;
    background: #B8B8B8;
    display: block;
    text-align: center;
}

.header_ingredients{
	font-family: Lexend Exa;
	font-size: 24px;
	line-height: 30px;
	margin-top: 12.65px;
}

input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(1,5); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  transform: scale(2);
  margin-top: 24px;
  font-family: Lexend Exa;
}

.checkbox{
	font-family: Lexend Exa;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	line-height: 22px;
}

.vehicle_label{
	font-family: Lexend Exa;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 22px;
	margin-left: 10px;
}

.direction-title {
	font-family: Lexend Exa;
	font-size: 24px;
	line-height: 30px;
	color: #000000;
	margin-top: 11.5px;
	margin-bottom: 20px;
}

.direction_title_container {
	display: flex;
	align-items: center;
	margin-bottom: 16px;
}

.direction_title_container img {
	width: 25px;
	height: 25px;
}

.direction_el_title {
	font-family: Lexend Exa;
	font-size: 18px;
	line-height: 22px;
	color: #000000;
}

.direction_el_description {
	margin-bottom: 20px;
	font-family: Lexend Exa;
	font-size: 14px;
	line-height: 17px;
	color: #000000;
}

.directions_btns {
	display: flex;
	align-items: center;
	margin-bottom: 35px;
}

.direction-btn {
	cursor: pointer;
	background: #FFFFFF;
	border: 2px solid #F11111;
	padding: 25px 40px;
	font-family: Lexend Exa;
	font-size: 14px;
	line-height: 17px;
	color: #000000;
}

.direction-btn:nth-child(1) {
	margin-left: 150px;
}

.direction-btn:nth-child(2) {
	margin-left: 58px;
}

.nutrition_title {
	margin-top: 16px;
	margin-bottom: 17px;
	font-family: Lexend Exa;
	font-size: 24px;
	line-height: 30px;
	color: #000000;
}

.nutrition_description {
	font-family: Lexend Exa;
	font-size: 18px;
	line-height: 22px;
	color: #000000;
	margin-bottom: 74px;
	max-width: 673px;
}

@media (max-width: 1400px) {
	.main_content {
		max-width: 1000px;
	}
}

@media (max-width: 1080px) {
	.main_content {
		max-width: 800px;
	}

	.my-gallery {
		margin-top: 20px;
	}
	
	.prep {
		display: none;
	}
}

@media (max-width: 920px) {
	.main_content {
		max-width: 100%;
		padding: 0 20px;
	}
}

@media (max-width: 720px) {
	.my-gallery {
		display: none;
	}

	.direction-btn:nth-child(1) {
		margin-left: 100px;
	}

	.video {
		width: 500px;
		height: 320px;
	}

	.first_line {
		width: 300px;
	}
}

@media (max-width: 620px) {

	.video {
		width: 400px;
		height: 220px;
	}

	.direction-btn:nth-child(1) {
		margin-left: 50px;
		margin-bottom: 50px;
	}

	.directions_btns {
		flex-direction: column;
	}
}

@media (max-width: 440px) {

	.video {
		width: 300px;
		height: 180px;
	}

	.direction-btn:nth-child(1) {
		margin-left: 25px;
	}

	.direction-btn:nth-child(2) {
		margin-left: 25px;
	}
}